# systemd service for PostgreSQL Instance (Worker1)

[Unit]
Description=PostgreSQL Instance (Worker1)

[Service]
Type=notify
User={{ pg_service_user }}
Group={{ pg_service_group }}
ExecStart={{ pg_exec_dir }}/postgres -p {{ pg_worker1_port }} -D {{ pg_worker1_data_dir }} -r {{ pg_log_directory }}/psql-worker1.log
ExecStop={{ pg_exec_dir }}/pg_ctl stop -w -m smart -o "-p {{ pg_worker1_port }}" -D {{ pg_worker1_data_dir }}
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=psql-worker1
# prevent OOM killer from choosing the postmaster (individual backends will reset the score to 0)
# OOMScoreAdjust=-900
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target